<li class="{{isOpenClass}}">
  <div>
      <img src="assets/images/hc1.png" alt=""/>
      <h1>eWebDesign Da shittt</h1>
    {{#if isOpenClass}}
    <p{{action 'close'}}>{{link-to 'Close' 'application'}}</p>
    {{else}}
    <p{{action 'open'}}>{{link-to 'About' 'about'}}</p>   
    {{/if}}      
          
  {{yield}}

  </div>
</li>

